.circle{
  position: relative;
  width: 20px;
  border: 1px red;
  border-radius: 50%;
  background-color: red;
  color: #ffffff !important;
  height: 20px;
  display:flex;
  flex:1
}

.circleText{
  text-align: center;
  align-items: center;
  padding:3px 6px 6px 7px;
}

.select-multi{
  color: grey !important;
  border-radius: 5px;
  align-self: start;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
  background-color: #312e38;;

  width: 70%;
  height: 50px;

}
.textVaga{
  padding:10px;
font-size:16px;
font-weight:bold;
  color:#666;
}

.paperVaga {
  background-color: #ffffff;
  -webkit-transition: .5s all;
  -webkit-transition-delay: 5s;
  -moz-transition: .5s all;
  -moz-transition-delay: 5s;
  -ms-transition: .5s all;
  -ms-transition-delay: 5s;
  -o-transition: .5s all;
  -o-transition-delay: 5s;
  transition: .5s all;
  transition-delay: 5s;
  /* //display: none; */
}

.circle:hover + div {
  background-color: #cccccc;
  display: block !important;
  transition-delay:12s;
}

.paper{
  width:150px !important;
}


.MuiInputBase-input{
  color: white !important;
}
.MuiFormControl-fullWidth {
  width: 100% !important;
}
.MuiFormControl-root{
  width:100%
}

.MuiSelect-icon{
  color:#1fada5 !important;
}

.MuiCheckbox-colorSecondary{
  color:#1fada5 !important;
}

.custom-card{
  width: 16rem;
  height: 300px;
  padding:20px;
  text-align:center;
  min-height:14rem;
  max-height:20rem;
}


.custom-button_remove{
  background-color: #c92020 !important;
  color:white !important;
  border-radius: 1px !important;
  border-radius: 5px !important;

 text-align: center !important;
}

.custom-button_remove:hover{
  background-color: red !important;

}


.custom-button_edit{
  background-color: lightblue !important;
  color:white !important;
  border-width: 1px !important;
  text-align: center !important;
  border-radius: 5px !important;
  width:50% !important;
  height: 30px;
}

.custom-button_edit_list{
  background-color: lightblue !important;
  color:white !important;
  border-width: 1px !important;
  text-align: center !important;
  border-radius: 5px !important;
  width:70% !important;
  height: 30px;
}

.custom-button_edit:hover{
  background-color: #1fada5 !important;
}

.card-title{
  color:black;
  font-size: 18px;
  font-weight: 700;

}
.card-description{
  font-size: 14px;
}
.custom-button{
  background-color:#004080 !important;
  color:white !important;
}
/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead, .divTableCellHeader, .divTableRowFilha {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableRowFilha{
  display:block;
}
.divTableCellHeader {
  background-color: #cccccc;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

h3 span{
  font-weight: bold;
}
.ModalList{
  position: 'absolute';
  width: 400px;
  border: 2px solid #000;
  padding: 5px,
}
.candContent{
  width:100% !important;
  border:1px solid;
  border-radius: 5px
}

.candContentImage{
float: left;
height: 56px;
}

.candContentImage img{
  width:40px;
  border-radius: 50%;
  vertical-align: center;
  padding: 5px;
  margin-top: 10px;
}

.candDesc{
 flex: 1;

}

.cand1{
  float: left;
  padding-right: 15px;
 }

 .cand2{
  flex: 1;
 }
