.circle{
  position: relative;
  width: 20px;
  border: 1px red;
  border-radius: 50%;
  background-color: red;
  color: #ffffff !important;
  height: 20px;
  display:flex;
  flex:1
}

.circleText{
  text-align: center;
  align-items: center;
  padding:3px 6px 6px 7px;
}

.select-multi{
  color: grey !important;
  border-radius: 5px;
  align-self: start;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
  background-color: #312e38;;

  width: 70%;
  height: 50px;

}
.MuiInputBase-input{
  color: white !important;
}
.MuiFormControl-fullWidth {
  width: 100% !important;
}
.MuiFormControl-root{
  width:100%
}

.MuiSelect-icon{
  color:#1fada5 !important;
}

.MuiCheckbox-colorSecondary{
  color:#1fada5 !important;
}

.custom-card{
  width: 16rem;
  height: 200px;
  padding:20px;
  text-align:center;
  min-height:14rem;
  max-height:20rem;
}


.custom-button_remove{
  background-color: #c92020 !important;
  color:white !important;
  border-radius: 1px !important;
  border-radius: 5px !important;

 text-align: center !important;
}

.custom-button_remove:hover{
  background-color: red !important;

}


.custom-button_edit{
  background-color: lightblue !important;
  color:white !important;
  border-radius: 1px !important;
  text-align: center !important;
  border-radius: 5px !important;
}

.custom-button_edit:hover{
  background-color: #1fada5 !important;
}

.card-title{
  color:black;
  font-size: 18px;
  font-weight: 700;

}
.card-description{
  font-size: 14px;
}
.custom-button{
  background-color:#004080 !important;
  color:white !important;
}
